.rapperimg {
    background: url("../../img/rapper.svg");
    width: 512px;
    height: 512px;
}

.loader {
    display: inline-block;
    width: 420px;
    fill: none;
    stroke: #e49607;
    stroke-width: 3px;
    stroke-dasharray: 68%;
    animation: rotateCircle 20s linear 0s infinite;
}

@keyframes rotateCircle {
    from {
        stroke-dashoffset: 0;
        stroke: yellow;
    }
    to {
        stroke-dashoffset: 2000;
        stroke: blue;
    }
}
